@import "~styles/variables";

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 11;

  overflow: auto;

  background: $heavy;
}

.close {
  transition: opacity $t $e,
              color $t $e,
              background $t $e;

  height: 37.5px;
  width: 37.5px;
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 1; 

  color: $white;

  opacity: 1;

  cursor: pointer;

  overflow: visible;
  transform: rotate(-45deg);

  background: transparentize($dark, 0.667);

  path {
    transform-origin: center center;
    transform: translate(0, -50%) translateZ(0) scale(0.25) rotate(45deg);
  }

  &:hover {   
    color: $dark;

    background: transparentize($white, 0.333);
  }
}