@import "~style/variables";

.view {
}
.section {
	min-height: 100vh;
	position: relative;

	overflow: visible;

	&.dark {
		background: $dark;
	}
}

.mountain {
	height: 180px;
	width: 100%;
	background-image: url("images/mountain.png");
	background-position: center bottom;
	background-repeat: no-repeat;
}

.cta {
	width: 880px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.word1 {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-100%, 0);

		color: $medium;
		font-size: 36px;
		font-weight: 300;
		line-height: 38px;
		text-align: right;
	}
	.word2 {
		display: block;

		color: $salmon;
		font-size: 108px;
		font-weight: 100;
		line-height: 98px;
		text-transform: uppercase;
	}
	.word3 {
		display: block;

		color: $medium;
		font-size: 36px;
		font-weight: 300;
		line-height: 38px;
		text-align: center;
	}
	.word4 {
		display: block;
		position: absolute;
		bottom: 5px;
		right: 14px;
		transform-origin: bottom left;
		transform: translate(100%, 0) rotate(90deg);

		color: $salmon;
		font-size: 36px;
		line-height: 38px;
	}
}

.more {
	padding: 10px 10px 300px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	
	color: $white;
	font-size: 24px;
  font-variant: small-caps;
  font-weight: 800;
  text-decoration: none;

  &::before,
  &::after {
  	transition: background $t $e,
  							top $t $e,
  							left $t $e;

  	content: "";
  	height: 100%;
  	width: 100%;

  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: -1;
  }

	&::before {
	  background: $salmon;
	}
	&::after {
		top: -10px;
		left: 10px;
		background: transparent;
	}

	&:hover::before {
		top: 10px;
		left: -10px;
		background: transparent;
	}
	&:hover::after {
		top: 0;
		left: 0;
		background: $medium;
	}
}
.story {
	width: 1100px;

	position: absolute;
	top: 50%;
	left: 400px;
	transform: translate(0, -50%);

	.text {
		display: inline-block;
		width: 510px;
		padding-top: 100px;

		vertical-align: top;

		h2 {
		  color: $salmon;
		  font-size: 28px;
		  line-height: 36px;

		  span {
				display: block;
				margin-left: 15px;
		  }
		}

		p {
			margin: 30px 0 0 15px;

		  color: $white;
			font-size: 21px;
			font-weight: 300;
		  line-height: 24px;
		}
	}
}