@import "~styles/variables";

.loader {
  animation: loader $t*30 infinite;

  pointer-events: none;

  position: absolute;
  top: 50%;
  left: 50%;

  transform-origin: 44px 50.8px;
  transform: translate(-50%, -50%) scale(0.75);

  color: $dark;

  overflow: visible;

  .left {
    animation: left $t*10 infinite;

    transform-origin: 0 76.21px;
    transform: scale(1.03);
  }
  .top {
    animation: top $t*10 infinite;

    transform-origin: 44px 0px;
    transform: scale(1.03);
  }
  .right {
    animation: right $t*10 infinite;

    transform-origin: 88px 76.21px;
    transform: scale(0.8);
  }
}

@keyframes loader {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    color: $dark; 
  }
  33% {
    transform: translate(-50%, -50%) scale(0.5) rotate(-120deg);
  }
  50% {
    color: $salmon;
  }
  66% {
    transform: translate(-50%, -50%) scale(0.5) rotate(-240deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

@keyframes left {
  23% {
    transform: scale(1.03);
  }
  28% {
    transform: scale(0.8);
  }
  38% {
    transform: scale(0.8);
  }
  43% {
    transform: scale(1.03);
  }
}

@keyframes top {
  56% {
    transform: scale(1.03);
  }
  61% {
    transform: scale(0.8);
  }
  71% {
    transform: scale(0.8);
  }
  76% {
    transform: scale(1.03);
  }
}

@keyframes right {
  5% {
    transform: scale(0.8);
  }
  10% {
    transform: scale(1.03);   
  }

  90% {
    transform: scale(1.03);   
  }
  95% {
    transform: scale(0.8);
  }
}