@import "~style/variables";

.view {
	transition: padding-left $t $e;
	
	display: inline-block;
	height: 100vh;
	width: 100vw;
	padding-left: $sidebar;
}

.aFilters {
	padding-left: $filters;
}
.aReturn {
	padding-left: $return;
}