@import "~style/variables";

.container {
	transition: padding-left $t $e,
				background $t $e;
	
	display: inline-block;
	height: 100vh;
	width: 100vw;
	padding-left: $sidebar;
}

// "widths"
.aFilters {
	padding-left: $filters;
}
.aReturn {
	padding-left: $return;
}

// backgrounds
.bDark {
	background: $dark;
}
.bHeavy {
	background: $heavy;
}
.bSalmon {
	background: $salmon;
}

.view {
	width: 100%;
	height: 100%;

	overflow: auto;
}