@import "~style/variables";

.tile {
	float: left;
	display: inline-block;

	width: 20%;
	padding-bottom: calc(20% + 100px);
	@media (max-width: 1920px) {
		width: 33.333%;
		padding-bottom: calc(33.333% + 100px);
	}
	@media (max-width: 1336px) {
		width: 50%;
		padding-bottom: calc(50% + 100px);
	}
	@media (max-width: 768px) {
		width: 100%;
		padding-bottom: calc(100% + 100px);
	}

	position: relative;
	z-index: 10;

	background: $salmon;

	&.small {
		float: right;
		width: 400px;
		padding-bottom: 500px;
	}
}

.thumb {
	transition: top $t $e,
							left $t $e;

	width: 100%;
	padding-bottom: 100%;

	position: absolute;
	top: 0;
	left: 0;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.tile:hover .thumb {
	top: -20px;
	left: -20px;
}

.header {
	transition: bottom $t $e,
							left $t $e;
	
	height: 100px;
	width: 100%;
	padding: 20px;
	position: absolute;
	bottom: 0;
	left: 0;

	background: $white;
}
.tile:hover .header {
	bottom: 20px;
	left: -20px;
}
.title {
  color: $salmon;
  font-size: 28px;
  line-height: 32px;
}
.date {
	position: absolute;
	left: 20px;
	bottom: 15px;

  color: $medium;
  font-size: 21px;
  font-weight: bold;
  font-variant: small-caps;
  line-height: 24px;
}