@import "~styles/variables";

.tile {
  display: block;
  width: 33.33%;
  position: relative;

  text-decoration: none;

  .thumb {
    transition: top $t $e,
                left $t $e;

    width: 100%;
    padding-bottom: 100%;

    position: relative;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .header {
    transition: bottom $t $e,
                left $t $e;
    
    height: 100px;
    width: 100%;
    padding: 20px;

    background: $white;
  }

  .title {
    color: $salmon;
    font-size: 28px;
    line-height: 32px;
  }
  .date {
    color: $medium;
    font-size: 21px;
    font-weight: 600;
    font-variant: small-caps;
    line-height: 24px;
  }
}

@media (max-width: $tablet) {
  .tile {
    width: 50%;
  }
}
@media (max-width: $mobile) {
  .tile {
    width: 100%;

    .header {
      height: 75px;
      padding: 10px 20px;
    }

    .title {
      font-size: 21px;
    }
    .date {
      font-size: 18px;
    }
  }
}