@import "~styles/variables";

.container {
  cursor: pointer;

  position: relative;
  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .fullscreen {
    transition: opacity $t $e,
                color $t $e
                background $t $e;

    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 1;

    color: $white;
    background: $medium;

    opacity: 0.667;

    path {
      transform: translateZ(0) scale(0.25);
    }
  }
  &::after {
    transition: opacity $t $e;

    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background: $salmon;
    opacity: 0;
  }

  &:hover {
    .fullscreen {
      color: $white;
      background: transparent;

      opacity: 1;
    }
    &::after {
      opacity: 0.667;
    }
  }
}

.imageWrap {
  box-sizing: border-box;
  margin: 0 auto;

  position: relative;

  &.single {
    height: 100vh;

    .container {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
  }
}