@import "~style/variables";

.view.single {
	height: 100vh;
}

.content {
	height: 100%;
	width: 100%;
	padding-right: 300px;

	&.single {
		height: 100%;
		position: relative;
	}
}

.sidebar {
	height: 100%;
	width: 300px;
	padding: 35px 20px;
	position: fixed;
	top: 0;
	right: 0;

	background: $dark;

	.title {
	  color: $salmon;
	  font-size: 28px;
	  line-height: 32px;
	}
	.date,
	.info {
		margin: 20px 0;

		color: $medium;
	  font-size: 14px;
	  font-weight: 600;
	  line-height: 16px;
	}
	.description {
	  font-size: 16px;
	  color: $white;
	  line-height: 18px;
	}
	.links {

	}
}