// COLORS
$black: black;
$heavy: #0c0409;
$dark: #242429;
$medium: #53505a;
$light: #f5e8e0;
$white: white;

$salmon: #bf604b;
$salmon-alt: #dd9a60;

$gold: #ffbd42;
$gold-alt: #f7c36d;

// FONTS
$fontFamily: 'Josefin Sans', sans-serif;

// VARS
$t: 0.2s;
$e: ease;

// DIMS
$sidebar: 300px;
$filters: 250px;
$return: 100px;
