@import "reset";
@import "variables";

html, body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;

	font-family: $fontFamily;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100vh;
	width: 100vw;
	
	overflow-x: hidden;
	overflow-y: auto;
}
