@import "~style/variables";

.view {
	max-width: 1220px;
	padding-left: 100px;

	.avatar {
		height: 400px;
		width: 400px;
		margin: 40px auto 25px;

		img {
			height: 100%;
			width: 100%;
		}
	}

	h1, p {
		color: $dark;
		font-size: 18px;
		line-height: 21px;
	}
	h2 {
		height: 12px;
		margin-bottom: 25px;

		color: $salmon;
		font-size: 24px;
		font-family: "Josefin Sans";
		font-variant: small-caps;
		text-align: center;
	}

	.copy {
		display: inline-block;
		width: 800px;
		margin: 0 auto 25px;
	}
	.smallDip {
		margin-top: 35px;
		margin-bottom: 20px;
	}

	ul.timeline {

		li {
			width: 50%;
			margin-bottom: 20px;
			padding: 0 10px;
			text-align: right;

			&:nth-of-type(2n) {
				margin-left: 50%;

				text-align: left;
			}

			.date {
				color: $salmon;
				font-size: 18px;
				font-weight: 700;
				line-height: 21px;
			}
			.title {
				color: $dark;
				font-size: 18px;
				line-height: 21px;
			}
			.location {
				color: $medium;
				text-decoration: none;
				line-height: 21px;

				span {
					color: $salmon-alt;
				}
			}
		}
	}

	.bigDip {
		margin-top: 60px;
		margin-bottom: 0;
	}

	ul.skills {
		h3 {
			height: 16px;
			margin-top: 20px;
			margin-bottom: 10px;

			color: $medium;
			font-size: 18px;
			font-weight: bold;
			font-variant: small-caps;
			text-align: center;
		}
		
		li {
			width: 50%;
			margin-bottom: 10px;
			padding-right: 10px;
			position: relative;

			color: $dark;
			font-size: 21px;
			text-align: right;

			&::before {
				height: 21px;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(100%, -50%);

				font-size: 18px;
				font-weight: bold;
				font-variant: small-caps;
			}
			&::after {
				content: "";

				height: 2px;
				width: 25px;
				position: absolute;
				top: 50%;
				right: -10px;
				transform: translate(100%, -50%);
			}

			&.expert {
				&::before {
					content: "expert";

					right: -#{15px + 5*25px};

					color: $dark;
				}
				&::after {
					width: #{5*25px};

					background-color: $dark;
					background: linear-gradient(to right, $dark 20px, transparent 20px);
					background-size: 25px 100px;
				}
			}
			&.advanced {
				&::before {
					content: "advanced";

					right: -#{15px + 4*25px};

					color: $salmon;
				}
				&::after {
					width: #{4*25px};

					background-color: $salmon;
					background: linear-gradient(to right, $salmon 20px, transparent 20px);
					background-size: 25px 100px;
				}
			}
			&.intermediate {
				&::before {
					content: "intermediate";

					right: -#{15px + 3*25px};

					color: $salmon-alt;
				}
				&::after {
					width: #{3*25px};

					background-color: $salmon-alt;
					background: linear-gradient(to right, $salmon-alt 20px, transparent 20px);
					background-size: 25px 100px;
				}
			}
			&.basic {
				&::before {
					content: "basic";
					
					right: -#{15px + 2*25px};

					color: $gold-alt;
				}
				&::after {
					width: #{2*25px};

					background-color: $gold-alt;
					background: linear-gradient(to right, $gold-alt 20px, transparent 20px);
					background-size: 25px 100px;
				}
			}
			&.learning {
				&::before {
					content: "learning";

					right: -#{15px + 1*25px};

					color: $medium;
				}
				&::after {
					width: #{1*25px};

					background-color: $medium;
					background: linear-gradient(to right, $medium 20px, transparent 20px);
					background-size: 25px 100px;
				}
			}

			&.butwhytho {
				&::before {
					color: $medium;
				}
				&::after {
					background-color: $medium;
					background: linear-gradient(to right,
						$medium 0px,
						$medium 6.2px,
						transparent 6.2px,
						transparent 12.5px,
						$medium 12.5px,
						$medium 18.8px,
						transparent 18.8px,
						transparent 25px
					);
					background-size: 25px 100px;
				}
			}
			&.loremipsum {
				&::before {
					content: "lorem ipsum";
				}
			}
		}
	}
}

.theEnd {
	padding: 40px 0;

	background: $salmon;
}